@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Passion+One&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&family=Sriracha&family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Passion+One&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&family=Sriracha&family=Updock&display=swap');

:root{
    --font01:Verdana, Geneva, Tahoma, sans-serif;
    --font02:'Passion One', cursive;
    --font03:'Sriracha', cursive;
}


*{
  margin: 0;
  padding: 0;
}

html,body{
    min-height: 100vh;
    background-color: darkgray;
}

.cabeçalho{
    background-color: #000;
    color: #fff;
    text-align: center;
}

.cabeçalho > h1{
    font-family: var(--font02);
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 4em;
}

.cabeçalho > p{
    padding-bottom: 50px;
}

.cabeçalho a,.rodape a{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

section{
    font-family: var(--font03);
    padding-top:10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section > p{
    padding-bottom: 1em;
}

section.normal{
    background-color: #fff;
    color:#000;
}

section.imagem{
      color: #fff;
      background-color: rgb(51, 51, 51);
      box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.404);
      background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.467);
    border-radius: 12px;
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}

#img01{
  background-image: url('imagens/background001.jpg');
  background-position: right center;
  background-size: cover;
}

#img02{
  background-image:url('imagens/background002.jpg') ;
  background-size: cover;
}

.rodape{
    background-color: #000;
    text-align: center;
    padding: 10px;
}